.conversation-block{
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: white;
    border: 2px solid blue;
    width: 250px;
    margin-right: 10px;
    border-bottom: 0;
    border-radius: 10px;
}

.conversation-header{
    color: white;
    padding: 10px;
    background-color: blue;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;

}
.message-button-block{
    display: flex;
    justify-content: center;
}
.messages-block {
    margin-bottom: 10px;
    border: 1px solid lightgray;
    padding: 10px;
}
.conversation-list-block{
    overflow: auto;
    padding: 10px;
}
.message-area{
    margin-bottom: 15px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
}
.message-button{
    color: white;
    background: blue;
    padding: 5px;
    font-size: 12px;
    border: 1px solid blue;
    border-radius: 15px;
}